#Homework 7: SQL Joins and Aggregates

These problem sets address SQL joins and aggregates.

##Setting the scene

I've imported the `u.data`, `u.user` and `u.item` tables from the MovieLens data set (discussed in class) into a database on a remote server. For references, here's what the schemas look like:

```
      Table "public.udata"
  Column   |  Type   | Modifiers 
-----------+---------+-----------
 user_id   | integer | 
 item_id   | integer | 
 rating    | integer | 
 timestamp | integer | 
```

```
              Table "public.uuser"
   Column   |         Type          | Modifiers 
------------+-----------------------+-----------
 user_id    | integer               | 
 age        | integer               | 
 gender     | character varying(1)  | 
 occupation | character varying(80) | 
 zip_code   | character varying(10) | 
```

```
                  Table "public.uitem"
       Column       |          Type          | Modifiers 
--------------------+------------------------+-----------
 movie_id           | integer                | not null
 movie_title        | character varying(81)  | not null
 release_date       | date                   | 
 video_release_date | character varying(32)  | 
 imdb_url           | character varying(134) | 
 unknown            | integer                | not null
 action             | integer                | not null
 adventure          | integer                | not null
 animation          | integer                | not null
 childrens          | integer                | not null
 comedy             | integer                | not null
 crime              | integer                | not null
 documentary        | integer                | not null
 drama              | integer                | not null
 fantasy            | integer                | not null
 film_noir          | integer                | not null
 horror             | integer                | not null
 musical            | integer                | not null
 mystery            | integer                | not null
 romance            | integer                | not null
 scifi              | integer                | not null
 thriller           | integer                | not null
 war                | integer                | not null
 western            | integer                | not null
```

Run the cell below with the values I gave in class (or over Slack). (Note: the host IP address has changed since the first homework!)

In [ ]:
host = ""
username = ""
password = ""

Now, run the cell below to create a connection object. This should work whether you have `pg8000` installed or `psycopg2`.

In [ ]:
try:
    import psycopg2
    conn = psycopg2.connect(host=host, user=username, password=password, database="movielens")
except ImportError:
    import pg8000
    conn = pg8000.connect(host=host, user=username, password=password, database="movielens")
type(conn)

In all of the cells below, I've provided the necessary Python scaffolding to perform the query and display the results. All you need to do is write the SQL statements.

##Problem set 1: GROUP BY and HAVING

In the cell below, write and execute a SQL statement that returns all zip codes, along with their count, from the `uuser` table that have *more than three* users listed in that zip code. (I.e., zip code 55414 has nine listed users, so it should be included in these results. Zip code 52302 has only one listed user, so it should not be included.)

Expected output:

```
20009 5
55105 6
55454 4
10003 5
27514 4
55337 5
55414 9
55408 4
```

Hint: use `GROUP BY` and `HAVING`. (If you're stuck, try writing the query without the `HAVING` first.)

In [ ]:
cursor = conn.cursor()
statement = "your statement here"
cursor.execute(statement)
for row in cursor:
    print row[0], row[1]

##Problem set 2: Joining tables

In the cell below, write and execute a SQL statement that finds and returns a list of the titles of all movies in the Western genre that received a rating of 1 from any user. Expected output:

```
Last Man Standing (1996)
Wyatt Earp (1994)
Wild Bill (1995)
Davy Crockett, King of the Wild Frontier (1955)
Bad Girls (1994)
Young Guns (1988)
Butch Cassidy and the Sundance Kid (1969)
City Slickers II: The Legend of Curly's Gold (1994)
Quick and the Dead, The (1995)
Good, The Bad and The Ugly, The (1966)
Magnificent Seven, The (1954)
Tombstone (1993)
Unforgiven (1992)
Geronimo: An American Legend (1993)
Terror in a Texas Town (1958)
Apple Dumpling Gang, The (1975)
Legends of the Fall (1994)
Dead Man (1995)
Maverick (1994)
Young Guns II (1990)
Dances with Wolves (1990)
```

HINT: `JOIN` the `udata` and `uitem` tables. Use `DISTINCT()` to get a list of unique movie titles (no title should be listed more than once). ADDITIONAL HINT: *Dances with Wolves* was my favorite movie when I was a kid. But then I realized that it's kind of full of racist garbage, and the music is *super schmaltzy*, so it's not surprising to me that it's on this list.

In [ ]:
cursor = conn.cursor()
statement = "your statement here"
cursor.execute(statement)
for row in cursor:
    print row[0]

##Problem set 3: Joins and aggregations... together at last

This one's tough, so prepare yourself. Go get a cup of coffee. Stretch a little bit. Deep breath. There you go.

In the cell below, write and execute a SQL statement that produces a list of the ten most highly rated movies in the Sci-Fi genre. For the purposes of this problem, take "most highly rated" to mean "has the highest average rating." The query should display the *titles* of the movies, not their ID number. (So you'll have to use a `JOIN`.)

Expected output:

```
Star Kid (1997) 5.0000000000000000
Star Wars (1977) 4.3584905660377358
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963) 4.2525773195876289
Empire Strikes Back, The (1980) 4.2043596730245232
Blade Runner (1982) 4.1381818181818182
Alien (1979) 4.0343642611683849
Return of the Jedi (1983) 4.0078895463510848
Terminator 2: Judgment Day (1991) 4.0067796610169492
2001: A Space Odyssey (1968) 3.9691119691119691
Aliens (1986) 3.9471830985915493
```

In [ ]:
cursor = conn.cursor()
statement = "your statement here"
cursor.execute(statement)
for row in cursor:
    print row[0], row[1]