In [22]:
import psycopg2

In [23]:
#import pg8000

In [24]:
connection = psycopg2.connect(database = "mondial")

In [25]:
connection

In [26]:
cursor = connection.cursor()

In [27]:
cursor.execute("SELECT name, length FROM river WHERE length > 4000")

In [28]:
cursor.fetchone()

('Irtysch', Decimal('4248'))

In [30]:
for row in cursor:
    print row[0],row[1]

Jenissej 4092
Lena 4400
Hwangho 4845
Jangtse 6380
Mekong 4350
Missouri 4130
Amazonas 6448
Niger 4184
Zaire 4374

In [ ]:
[r]