## List comprehensions

In [ ]:
[___________________ for __________________ in ________________ if _____________________]
predicate expression     temperary variable      source             membershipexpression

In [2]:
planets = ["mercury","venus","earth","mars","jupiter","saturn","uranus","neptune"]

In [3]:
{x.upper() for x in planets if len(x) == 5}

{'EARTH', 'VENUS'}

In [4]:
range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
[shumai * shumai for shumai in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## Randomness

In [8]:
import random
#random model 1-random.randrange
random.randrange(100)

12

In [12]:
random.randrange(20)+1

16

In [16]:
random.randrange(1,7)+1

3

In [30]:
#random model 2-random.choice
flavors = ["vanilla","chocolate","durain","red bean","cinnamon","-mystery~"]
random.choice(flavors)

'chocolate'

In [31]:
#random model 3-random.sample
random.sample(flavors,2)

['chocolate', 'red bean']

In [37]:
#random model 4-random.shuffle
random.shuffle(flavors)
print flavors

['chocolate', 'durain', '-mystery~', 'red bean', 'cinnamon', 'vanilla']

In [39]:
type(random.shuffle(flavors))
## shuffle will not return anything unless you put "print OBEJCT"

NoneType

## Tuples

tuple (rhymes with"supple")"quintuple" broken list :(

In [68]:
t = ("alpha","beta","gamma","delta")
type(t)

tuple

In [47]:
t[0]

'alpha'

In [48]:
t[-2]

'gamma'

In [49]:
t[1:4]

('beta', 'gamma', 'delta')

In [65]:
# t.append("epsilon")
#'tuple' object has no attribute 'append'
# t[0] = "FROG EMOJI"
#'tuple' object does not support item assignment

In [59]:
moon_counts = {'mercury':0,'venus':0,'earth':1,'mars':2}
moon_counts.items()

[('mercury', 0), ('earth', 1), ('venus', 0), ('mars', 2)]

In [60]:
tuple(x.upper() for x in ("alpha","beta","gamma"))

('ALPHA', 'BETA', 'GAMMA')

In [64]:
list(t)

['alpha', 'beta', 'gamma', 'delta']

## Sets

sets are like lists but also broken :(

In [77]:
s = set(["alpha","beta","gamma","delta"])
type(s)

set

In [80]:
'alpha' in s

True

In [81]:
'FROG EMOJI' in s

False

In [72]:
# s[0]
#'set' object does not support indexing

In [73]:
[item.upper() for item in s]

['ALPHA', 'BETA', 'GAMMA', 'DELTA']

In [85]:
# s.append =("epsilon")
#'set' object has no attribute 'append'

In [83]:
s.add("epsilon")
s

{'alpha', 'beta', 'delta', 'epsilon', 'gamma'}

In [89]:
planet_set = {"mercury","venus","earth","mars"}
planet_set.add("mercury")
planet_set

{'earth', 'mars', 'mercury', 'venus'}

In [91]:
source_list = ["it","is","what","it","is"]
set(source_list)

{'is', 'it', 'what'}

### Sets are faster than lists for the "in" operator.

In [117]:
numbers = range(100)
numbers_set = set(range(100))
for i in range(100):
    if random.randrange(999) in numbers:
        print numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [119]:
numbers = range(100)
numbers_set = set(range(100))
for i in range(100):
    if random.randrange(999) in numbers_set:
        print numbers_set

set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [98]:
## Dictionary comprehensions

In [99]:
us_presidents = ["carter","reagan","bush","clinton","bush","obama"]

In [104]:
#prez_lengths['carter'] #evaluate to 6 
prez_lenghts = {}
for name in us_presidents:
    prez_lenghts[name] = len(name)
print prez_lenghts

{'clinton': 7, 'bush': 4, 'reagan': 6, 'carter': 6, 'obama': 5}

In [105]:
list_of_tups = [('a',1),('b',2)]
dict(list_of_tups)

{'a': 1, 'b': 2}

In [112]:
#here is what I want: [('obama',5),('carter',6),.....]
# [(item,len(item)) for item in us_presidents]

In [110]:
prez_tups = [(item,len(item)) for item in us_presidents]
dict(prez_tups)

{'bush': 4, 'carter': 6, 'clinton': 7, 'obama': 5, 'reagan': 6}

In [120]:
#python2.7 and newer
{item: len(item) for item in us_presidents}

{'bush': 4, 'carter': 6, 'clinton': 7, 'obama': 5, 'reagan': 6}

## Zip

In [126]:
cat_names = ["mr.whiskers","fluffy","obameow","althea"]
cat_weights = [10.5,16,8.5,10]
cat_preferences = ["salmon","pumpkin","trout"]

In [124]:
#cat_map['althea'] => 10
cat_map = {}
i = 0
for name in cat_names:
    cat_map[name] = cat_weights[i]
    i += 1
cat_map

{'althea': 10, 'fluffy': 16, 'mr.whiskers': 10.5, 'obameow': 8.5}

In [125]:
zip(cat_names, cat_weights)

[('mr.whiskers', 10.5), ('fluffy', 16), ('obameow', 8.5), ('althea', 10)]

In [127]:
zip(cat_names, cat_weights, cat_preferences)

[('mr.whiskers', 10.5, 'salmon'),
 ('fluffy', 16, 'pumpkin'),
 ('obameow', 8.5, 'trout')]

In [132]:
cap_map = dict(zip(cat_names, cat_weights))

In [129]:
cat_map['althea']

10

####ADD July 20

In [1]:
kitty = "meow"

In [2]:
type(kitty)

str

In [3]:
def vocalize():
    return "meow!"

In [4]:
type(vocalize)

function

In [5]:
foo = vocalize

In [6]:
type(foo)

function

In [7]:
foo()

'meow!'

In [8]:
cat_noise = foo
cat_noise()

'meow!'

In [10]:
!say meow

In [11]:
give_me_the_length_of = len

In [12]:
give_me_the_length_of("hello")

5

##Map and filter

map calls a function on each item of a list (or sequence) and evaluates to a new list with the return value from the function.
filter calls a function on each item and returns a new list with only the iemts where the function returned True.

In [13]:
def square(x):
    return x * x
square(12)

144

In [14]:
numbers = [5,27,19,2,6]
map(square,numbers)

[25, 729, 361, 4, 36]

In [15]:
# List comprehension
[square(item) for item in numbers]

[25, 729, 361, 4, 36]

In [16]:
def schoolyard_taunt(person1,person2,location):
    return person1 + "and" + person2 + "sitting in a" + location + "Kissing."

In [17]:
schoolyard_taunt("Mister Rogers", "mother teresa", "1969 Mustang")

'Mister Rogersandmother teresasitting in a1969 MustangKissing.'

In [20]:
apply(schoolyard_taunt,("Mister Rogers", "mother teresa", "1969 Mustang"))

'Mister Rogersandmother teresasitting in a1969 MustangKissing.'

In [22]:
ee_cummings = ["hello","there","how","are","you"]
#desired value to all UPPER case

In [24]:
#Way 1
def upper_convert(s):
    return s.upper()
map(upper_convert,ee_cummings)

['HELLO', 'THERE', 'HOW', 'ARE', 'YOU']

In [25]:
# Way 2 List comprehension
[upper_convert(item) for item in ee_cummings]

['HELLO', 'THERE', 'HOW', 'ARE', 'YOU']

##Filter Functions

In [32]:
numbers = [2,4,94,-16,11,19]
def less_than_ten(x):
    if x < 10:
        return True
    else:
        return False

In [33]:
less_than_ten(4)

True

In [39]:
#Way 1:
filter(less_than_ten,numbers)

[2, 4, -16]

In [38]:
#Way 2: List Comprehension
[item for item in numbers if less_than_ten(item)]

[2, 4, -16]

In [36]:
words = ["HELLO","there","HOW","are","YOU"]
#target value:["there","are"]

#Way 1 
def is_this_lower(s):
    return s.islower()
filter(is_this_lower,words)

['there', 'are']

In [40]:
#Way 2 :List Comprehension
[item for item in words if is_this_lower(item)]

['there', 'are']

In [43]:
#Way 1 
map(upper_convert,filter(is_this_lower,words))

['THERE', 'ARE']

In [44]:
#Way 2 :List Comprehension
[upper_convert(item) for item in words if is_this_lower(item)]

['THERE', 'ARE']

## Lambda Functions
write an entire function in one expression

In [46]:
def square(x):
    return x * x
square(5)

25

In [49]:
square = lambda x: x * x #x:is list of parameters #x * x is the python expression
square(5)

25

In [50]:
words = ["HELLO","there","HOW","are","YOU"]
#target value:["there","are"]

# def is_this_lower(s):
#     return s.islower()
is_this_lower = lambda s:s.islower()
filter(is_this_lower,words)

['there', 'are']

In [51]:
filter(lambda s:s.islower(),words)

['there', 'are']

In [53]:
ee_cummings = ["hello","there","how","are","you"]
# def upper_convert(s):
#     return s.upper()
# map(upper_convert,ee_cummings)

#Way1
map(lambda s:s.upper(),ee_cummings)

['HELLO', 'THERE', 'HOW', 'ARE', 'YOU']

In [56]:
#Way2
[s.upper() for s in ee_cummings]

['HELLO', 'THERE', 'HOW', 'ARE', 'YOU']

## Sorted()

In [58]:
words = ["mastodon","brie","zebra","abacus","norseman"]
sorted(words)

['abacus', 'brie', 'mastodon', 'norseman', 'zebra']

In [61]:
##SORT it by LEN of words
# Way1
def get_length(s):
    return len(s)
sorted(words, key = get_length)

['brie', 'zebra', 'abacus', 'mastodon', 'norseman']

In [62]:
#Way2:
sorted(words, key = lambda s:len(s))

['brie', 'zebra', 'abacus', 'mastodon', 'norseman']

In [68]:
# Way3:
sorted(words, key = len)

['brie', 'zebra', 'abacus', 'mastodon', 'norseman']

In [71]:
# Get reverse
sorted(words, key = lambda s:len(s),reverse = True)

['mastodon', 'norseman', 'abacus', 'zebra', 'brie']

In [72]:
##SORT this list by the 2nd apphabetic
sorted(words,key=lambda s:s[1])
# The key's default order is alphabetical order

['mastodon', 'abacus', 'zebra', 'norseman', 'brie']

In [84]:
word_counts = {'two':2,'roads':5,'diverged':4,'in':15,'a':25}

sorted(word_counts.items(), 
       key = lambda item:item[1],
       reverse = True)[0][0]

'a'

In [78]:
######BREAK DOWN #######
#####Step1
sorted(word_counts.items())

[('a', 25), ('diverged', 4), ('in', 15), ('roads', 5), ('two', 2)]

In [82]:
#####Step2
getter = lambda item:item[1]
getter(['a', 25])
#get the second object from getter(['a', 25])

25

In [83]:
#####Step3
sorted(word_counts.items(), 
       key = lambda item:item[1],
       reverse = True)
###Since here, we do the sorted this list by the 2nd object in the tuples

[('a', 25), ('in', 15), ('roads', 5), ('diverged', 4), ('two', 2)]

In [85]:
#####Step4
sorted(word_counts.items(), 
       key = lambda item:item[1],
       reverse = True)[0]
####Get the first tuple

('a', 25)

In [86]:
#####Step5
sorted(word_counts.items(), 
       key = lambda item:item[1],
       reverse = True)[0][0]
####Get the first tuple's first element

'a'

## Boolean expressions
##布尔运算

In [11]:
x = 1
if x == 10 or 11:
    print "whatever"

whatever

In [3]:
5 == 24

False

In [4]:
x < 99

True

In [5]:
type(x<99)

bool

In [12]:
truthiness = x < 99

In [13]:
truthiness

True

In [14]:
4 + 6

10

In [19]:
# (______ and _______) ----> T/F
#  T/F        T/F
# (______ or _______) ----> T/F
#  T/F        T/F
# _______ > _______
# value     value
## you always need to put both sides an True or False condition

In [24]:
mozart = 1793
beethoven = 1799

In [25]:
mozart > beethoven

False

In [26]:
cage = 1912
cage > mozart and cage > beethoven
#They should be both true, either of them is false than result will be false

True

In [30]:
#WRONG!!!!!!wrong.
cage > mozart and beethoven

1799

In [31]:
#type mangling
if 10:
    print "hi"

hi

In [32]:
if 0:
    print "hi"
else:
    print "boo"

boo

In [33]:
if None:
    print "hi"
else:
    print "boo"

boo

In [34]:
text = "cheese"
text in ["cheese" or "abacus" or "mastodon"]

True